<% include ../head.ejs %>
<main class="profile">
    <div class="profilePicture" style="background-image: url('/upload/<%= obj.profile.profileImg%>')">
        <div class="profilePictureGradient"></div>
    </div>
    <div class="profileName">
        <h1><%= obj.name %>, <%= obj.age %></h1>
    </div>
    <div class="profileContent">
        <div>
            <h2>Bio</h2>
            <p><%= obj.profile.bio %></p>
        </div>
        <div>
            <h2>Preffered gender</h2>
            <p><%= obj.profile.wantGender %></p>
        </div>
        <div>
            <h2>Favorite games</h2>
            <ul>
                <li><%= obj.profile.favoriteGenres[0] %></li>
                <li><%= obj.profile.favoriteGenres[1] %></li>
                <li><%= obj.profile.favoriteGenres[2] %></li>
            </ul>
        </div>


        <!--if profile id is same as logged in.-->
        <a href="/findMatches" class="button">Start looking</a>
        <!--if profile id is not same as logged in-->
        <!--<form method="post">-->
            <!--<input class="buttonSmall" type="submit" value="Send friend request">-->
        <!--</form>-->
    </div>
</main>

<% include ../footer.ejs %>