<article class="person">
  <a href="/<%= user._id%>">
    <div style="background-image: url('/upload/<%= user.profile.profileImg %>')"></div>
    <div class="personContent">
      <h2><%= user.name%>, <%= user.age %></h2>
      <p>Favorite genre: <%= user.genre1%></p>
    </div>
  </a>
</article>
